<div class="container-fluid" height="600px" style="background-color: rgb(231, 235, 11);">

  <div class="row"> 
    <div class="col-sm-12" style="height: 50px; text-align: center;">
      HEADER <app-header></app-header>
    </div>
  </div>

      <a routerLink="ipl">ipl</a>
      <a routerLink="tnpl">tnpl</a>
      <a routerLink="worldcup">worldcup</a>

  <div class="row">
    <div class="col-sm-4 art">
      
  
    </div>
    
    <div class="col-sm-8 art1">ARTICLE
      <app-article></app-article>
    </div>

    <router-outlet></router-outlet>
    

  </div>

  <div class="row">\  
    <div class="col-sm-12" style="height: 100px; text-align: center;">
      <app-footer></app-footer>
     fotter
    </div>
  </div>
  





















  </div>