<div class="container-fluid" height="600px" style="background-color: rgb(250, 248, 248);">

  <div class="row"> 
    <div class="art" style="height: 50px; text-align: center;">
      <a routerLink="ipl"><h1>IPL</h1></a>

    </div>
  </div>
      <a routerLink="worldcup">
        <h1 style="height: 60px; text-align: center;"> worldcup </h1></a> 

  <div class="row">
    <div class="art"style="height: 50px; text-align: center;">
      
  
    </div>
    
    <div class="col-sm-8 art1"><h1></h1>
      <app-article></app-article>
    </div>

    <router-outlet></router-outlet>
    

  </div>

  <div class="row">
    <div class="col-sm-12" style="height: 100px; text-align: center;">
      <app-footer></app-footer>
    
    </div>
  </div>
  





















  </div>